body{
  background-color: rgba(0, 70, 67, 0.7);
  font-family: "Montserrat";
  position: absolute;
  top:40%;
  left: 50%;
  right:-2%;
  height: 200px;
  width: 63rem;
  margin: -300px 0 0 -400px
}

@media (max-width: 600px){
  body{
    top:40%;
  left: 50%;
  right:-20%;
  height: 200px;
  width: 29rem;
  margin: -300px 0 0 -400px
  }
}